main{
  .services__block{
    padding-bottom: 50px;

    .services__wrapper{
      border-bottom: #9fa9a9 solid 2px;

      .services__items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 0 60px;

        .services__txt-info{
          width: 50%;
          max-width: 520px;

          h3{
            font-size: var(--font-size-lg);
            text-transform: uppercase;
            margin-bottom: 50px;
          }

          p{
            margin-bottom: 60px;
          }

          .button__services {
            padding: 20px 60px;
            max-width: 225px;
            text-align: center;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
            border: solid 2px red;

            a{
              color: red;
            }
          }
        }

        .services__enumeration__item{
          width: 50%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          .services__enumeration{
            width: 50%;
            max-width: 290px;
            padding: 0 0 50px;

            img{
              max-width: 40px;
              padding: 0 0 30px;
            }

            h3{
              padding: 0 0 20px;
            }
          }

        }
      }
    }
  }
}