@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --transition:.3s;
  --font-size-md:16px;
  --font-size-lg: 42px;
}

main .contact__block .contact__items .title-txt-line h3, main .subscription__block .subscription__items .title-txt h3, main .our-team__block .our-team__information .information h3, main .title-txt-line h3, main .services__block .services__wrapper .services__items .services__txt-info h3 {
  font-size: var(--font-size-lg);
  text-transform: uppercase;
}

main .subscription__block .subscription__items .subscription .button__subscription, main .services__block .services__wrapper .services__items .services__txt-info .button__services, main .about-us__block .about-us__items .about-us__txt .button__about-us {
  padding: 20px 60px;
  max-width: 220px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

main .contact__block .contact__items .contact__form form, main .contact__block .contact__items .row, main .gallery__images {
  display: flex;
  flex-wrap: wrap;
}

main .contact__block .contact__items .title-txt-line:after, main .title-txt-line:after {
  content: "";
  display: inline-block;
  width: 130px;
  height: 2px;
  margin: 0 auto;
  background: red;
}

main .contact__block .contact__items .contact__form-massage textarea, main .contact__block .contact__items .contact__form-field input {
  background-color: silver;
  border: none;
  border-radius: 10px;
  padding: 20px 40px;
}

* {
  color: black;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

p {
  font-size: var(--font-size-md);
}

header .header__block {
  padding: 30px 0px 110px;
  background: #f6f2f2;
}
header .header__block .header__contact {
  background: #313030;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .header__block .header__contact nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
header .header__block .header__contact nav ul li {
  padding: 33px 0px;
  transition: var(--transition);
  cursor: pointer;
}
header .header__block .header__contact nav ul li:hover {
  background: red;
}
header .header__block .header__contact nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0px 25px;
}

main .about-us__block {
  background: #f6f2f2;
  padding: 0 0 110px;
  margin-bottom: 110px;
}
main .about-us__block .about-us__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
main .about-us__block .about-us__items .about-us__txt {
  width: 50%;
  max-width: 520px;
}
main .about-us__block .about-us__items .about-us__txt h3 {
  text-transform: uppercase;
  font-size: 60px;
  margin-bottom: 40px;
}
main .about-us__block .about-us__items .about-us__txt p {
  font-size: var(--font-size-md);
  padding-bottom: 50px;
}
main .about-us__block .about-us__items .about-us__txt .button__about-us {
  background: red;
  transition: var(--transition);
}
main .about-us__block .about-us__items .about-us__txt .button__about-us:hover {
  background: #ea1b1b;
}
main .about-us__block .about-us__items .about-us__txt .button__about-us a {
  color: white;
  font-size: var(--font-size-md);
}
main .about-us__block .about-us__items .about-us__video video {
  box-shadow: 0 0 40px black;
}

main .services__block {
  padding-bottom: 40px;
}
main .services__block .services__wrapper {
  border-bottom: #9fa9a9 solid 2px;
}
main .services__block .services__wrapper .services__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0 60px;
}
main .services__block .services__wrapper .services__items .services__txt-info {
  width: 50%;
  max-width: 520px;
}
main .services__block .services__wrapper .services__items .services__txt-info h3 {
  margin-bottom: 50px;
}
main .services__block .services__wrapper .services__items .services__txt-info p {
  margin-bottom: 60px;
}
main .services__block .services__wrapper .services__items .services__txt-info .button__services {
  border: solid 2px red;
  transition: var(--transition);
}
main .services__block .services__wrapper .services__items .services__txt-info .button__services:hover {
  background: #fcefef;
  color: red;
}
main .services__block .services__wrapper .services__items .services__txt-info .button__services a {
  color: red;
}
main .services__block .services__wrapper .services__items .services__enumeration__item {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .services__block .services__wrapper .services__items .services__enumeration__item .services__enumeration {
  width: 50%;
  max-width: 290px;
  padding: 0 0 50px;
}
main .services__block .services__wrapper .services__items .services__enumeration__item .services__enumeration img {
  max-width: 40px;
  padding: 0 0 30px;
}
main .services__block .services__wrapper .services__items .services__enumeration__item .services__enumeration h3 {
  padding: 0 0 20px;
}

main .gallery__block {
  padding: 0 0 130px;
}
main .title-txt-line {
  text-align: center;
  padding-bottom: 76px;
}
main .title-txt-line h3 {
  margin-bottom: 25px;
}
main .title-txt-line p {
  max-width: 500px;
  margin: 0 auto 20px;
}
main .gallery__tabs {
  margin: 0 auto;
  padding-bottom: 55px;
}
main .gallery__tabs ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
main .gallery__tabs ul li {
  transition: var(--transition);
  cursor: pointer;
  padding: 0;
}
main .gallery__tabs ul li a {
  color: #4c4c4c;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 25px;
  font-weight: 600;
}
main .gallery__tabs ul li a:hover {
  color: red;
}
main .gallery__images {
  margin-right: -10px;
  margin-left: -10px;
}
main .gallery__item {
  width: 312.5px;
  height: 312.5px;
  padding: 0 10px 20px;
}
main .gallery__item .gallery__item-img {
  background-color: #f5f0dd;
  width: 100%;
  height: 100%;
}

main .our-team__block {
  padding-bottom: 110px;
}
main .our-team__block .title-txt-line {
  justify-content: start;
  max-width: 445px;
  text-align: start;
}
main .our-team__block .our-team__information {
  display: flex;
}
main .our-team__block .our-team__information .main__photo {
  width: 25%;
  height: 460px;
  background-color: #f5f0dd;
  margin-right: 75px;
}
main .our-team__block .our-team__information .information {
  width: 75%;
}
main .our-team__block .our-team__information .information h3 {
  margin-bottom: 25px;
  font-size: 30px;
}
main .our-team__block .our-team__information .information p {
  max-width: 650px;
}
main .our-team__block .our-team__information .information ul {
  padding: 30px 0 45px;
  list-style: none;
  display: flex;
  justify-content: start;
}
main .our-team__block .our-team__information .information ul li {
  cursor: pointer;
  padding: 0;
}
main .our-team__block .our-team__information .information ul li a {
  color: #4c4c4c;
  text-decoration: none;
  padding: 0 25px 0 0;
  font-weight: 400;
}
main .our-team__block .our-team__information .information .gallery__information {
  display: flex;
}
main .our-team__block .our-team__information .information .gallery__information .gallery__info-item {
  margin-right: 20px;
  width: 200px;
  height: 212px;
  background-color: #f5f0dd;
}

main .subscription__block {
  background-color: #f5f0dd;
  padding: 140px 0;
}
main .subscription__block .subscription__items .title-txt {
  text-align: center;
}
main .subscription__block .subscription__items .title-txt h3 {
  margin-bottom: 40px;
  color: white;
}
main .subscription__block .subscription__items .title-txt p {
  color: white;
  margin: 0 auto 60px;
}
main .subscription__block .subscription__items .subscription {
  display: flex;
  justify-content: center;
  align-content: center;
}
main .subscription__block .subscription__items .subscription .button__subscription {
  background: red;
  transition: var(--transition);
  text-transform: uppercase;
}
main .subscription__block .subscription__items .subscription .button__subscription:hover {
  background: #ea1b1b;
}
main .subscription__block .subscription__items .subscription .button__subscription a {
  color: white;
  font-size: var(--font-size-md);
}
main .subscription__block .subscription__items .subscription input {
  padding: 20px 35px;
  width: 520px;
  margin-right: 22px;
  border: none;
  border-radius: 5px;
}
main .subscription__block .subscription__items .subscription input:focus {
  border: none;
  background-color: #f0f2f2;
}

main .contact__block {
  padding-top: 105px;
  padding-bottom: 110px;
}
main .contact__block .contact__items .title-txt-line {
  justify-content: start;
  max-width: 722px;
  text-align: start;
  padding: 0;
}
main .contact__block .contact__items .title-txt-line h3 {
  margin-bottom: 50px;
}
main .contact__block .contact__items .title-txt-line p {
  max-width: 720px;
  padding: 0;
  margin: 0 0 58px;
}
main .contact__block .contact__items .row {
  margin-top: 75px;
}
main .contact__block .contact__items .contact__form {
  width: 60%;
}
main .contact__block .contact__items .contact__form-field {
  width: 50%;
}
main .contact__block .contact__items .contact__form-field:first-child {
  padding-right: 27px;
}
main .contact__block .contact__items .contact__form-field:nth-child(2) {
  padding-left: 27px;
}
main .contact__block .contact__items .contact__form-field input {
  width: 100%;
  margin-bottom: 45px;
}
main .contact__block .contact__items .contact__form-massage {
  width: 100%;
}
main .contact__block .contact__items .contact__form-massage textarea {
  width: 100%;
  height: 250px;
  resize: none;
}
main .contact__block .contact__items .contact__form .button__form {
  margin-top: 45px;
  width: 100%;
}
main .contact__block .contact__items .contact__form .button__form button {
  padding: 20px 60px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  background: red;
  transition: var(--transition);
  text-transform: uppercase;
  width: 100%;
  color: white;
}
main .contact__block .contact__items .contact__form .button__form button:hover {
  background: #ea1b1b;
}
main .contact__block .contact__items .contact__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(40% - 100px);
  margin-left: 100px;
  background-color: #333;
}
main .contact__block .contact__items .contact__info p, main .contact__block .contact__items .contact__info h3 {
  color: white;
}

footer .footer {
  background-color: #4c4c4c;
  padding: 57px;
}
footer .footer .container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}
footer .footer p {
  color: #b8b8b8;
}
footer .footer .img {
  display: flex;
}

/*# sourceMappingURL=index.css.map */
