@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.contact__block .title-txt-line h3, .subscription__block .subscription__items .title-txt h3, .our-team__block .our-team__information .information h3, .title-txt-line h3, .services__block .services__wrapper .services__items .services__txt-info h3 {
  font-size: 42px;
  text-transform: uppercase;
}

.subscription__block .subscription__items .subscription .button__subscription, .services__block .services__wrapper .services__items .services__txt-info .button__services, .about-us__block .about-us__items .about-us__txt .button__about-us {
  padding: 20px 60px;
  max-width: 220px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.contact__block .contact__form form, .contact__block .row, .gallery__images {
  display: flex;
  flex-wrap: wrap;
}

.contact__block .title-txt-line:after, .title-txt-line:after {
  content: "";
  display: inline-block;
  width: 130px;
  height: 2px;
  margin: 0 auto;
  background: red;
}

.contact__block .contact__form-massage textarea, .contact__block .contact__form-field input {
  background-color: silver;
  border: none;
  border-radius: 10px;
  padding: 20px 40px;
}

* {
  color: black;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

html, body {
  overflow-x: hidden;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

@media (max-width: 1250px) {
  .container {
    max-width: 1100px;
  }
}
@media (max-width: 1100px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 767px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 500px;
  }
}
p {
  font-size: 16px;
}

header .header__block {
  padding: 30px 0px 110px;
  background: #f6f2f2;
}
header .header__block .header__contact {
  background: #313030;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .header__block .header__contact nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
header .header__block .header__contact nav ul li {
  padding: 33px 0px;
  transition: 0.3s;
  cursor: pointer;
}
header .header__block .header__contact nav ul li:hover {
  background: red;
}
header .header__block .header__contact nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0px 25px;
}

@media (max-width: 992px) {
  header .header__block .header__contact nav ul li {
    padding: 25px 0px;
  }
  header .header__block .header__contact nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 25px;
  }
}
@media (max-width: 767px) {
  header .header__block .header__contact nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 20px;
  }
}
@media (max-width: 500px) {
  header .header__block {
    padding-top: 0;
  }
  header .header__block .header__contact {
    display: flex;
  }
  header .header__block .header__contact nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  header .header__block .header__contact nav ul li {
    display: inline-block;
    width: 500px;
  }
  header .header__block .header__contact nav ul li:hover {
    background-color: red;
  }
  header .header__block .header__contact nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 20px;
  }
}
.about-us__block {
  background: #f6f2f2;
  padding: 0 0 110px;
  margin-bottom: 110px;
}
.about-us__block .about-us__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.about-us__block .about-us__items .about-us__txt {
  width: 50%;
  max-width: 520px;
}
.about-us__block .about-us__items .about-us__txt h3 {
  text-transform: uppercase;
  font-size: 60px;
  margin-bottom: 40px;
}
.about-us__block .about-us__items .about-us__txt p {
  padding-bottom: 50px;
}
.about-us__block .about-us__items .about-us__txt .button__about-us {
  background: red;
  border: none;
}
.about-us__block .about-us__items .about-us__txt .button__about-us:hover {
  background: #ea1b1b;
}
.about-us__block .about-us__items .about-us__txt .button__about-us a {
  color: white;
  font-size: 16px;
}
.about-us__block .about-us__items .about-us__iframe iframe {
  border: none;
  box-shadow: 0 0 40px black;
}

@media (max-width: 1100px) {
  .about-us__block .about-us__items {
    display: flex;
    justify-content: space-between;
  }
  .about-us__block .about-us__items .about-us__txt {
    max-width: 405px;
  }
  .about-us__block .about-us__items .about-us__txt h3 {
    font-size: 48px;
  }
}
@media (max-width: 992px) {
  .about-us__block {
    display: flex;
    justify-content: center;
  }
  .about-us__block .about-us__items {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .about-us__block .about-us__items .about-us__txt {
    width: 100%;
    max-width: none;
  }
  .about-us__block .about-us__items .about-us__txt h3 {
    font-size: 32px;
  }
  .about-us__block .about-us__items .about-us__txt .button__about-us {
    margin: 0 auto 50px;
  }
}
@media (max-width: 767px) {
  .about-us__block .about-us__items .about-us__txt {
    text-align: center;
  }
  .about-us__block .about-us__items .about-us__txt h3 {
    font-size: 29px;
  }
  .about-us__block .about-us__items .about-us__txt p {
    font-size: 15px;
  }
  .about-us__block .about-us__items .about-us__iframe iframe {
    max-width: 100%;
  }
}
.services__block {
  padding-bottom: 40px;
}
.services__block .services__wrapper {
  border-bottom: #9fa9a9 solid 2px;
}
.services__block .services__wrapper .services__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0 60px;
}
.services__block .services__wrapper .services__items .services__txt-info {
  width: 50%;
  max-width: 520px;
}
.services__block .services__wrapper .services__items .services__txt-info h3 {
  margin-bottom: 50px;
}
.services__block .services__wrapper .services__items .services__txt-info p {
  margin-bottom: 60px;
}
.services__block .services__wrapper .services__items .services__txt-info .button__services {
  background: none;
  border: solid 2px red;
}
.services__block .services__wrapper .services__items .services__txt-info .button__services:hover {
  background: #fcefef;
  color: red;
}
.services__block .services__wrapper .services__items .services__txt-info .button__services a {
  color: red;
}
.services__block .services__wrapper .services__items .services__enumeration__item {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services__block .services__wrapper .services__items .services__enumeration__item .services__enumeration {
  width: 50%;
  max-width: 290px;
  padding: 0 0 50px;
}
.services__block .services__wrapper .services__items .services__enumeration__item .services__enumeration img {
  max-width: 40px;
  padding: 0 0 30px;
}
.services__block .services__wrapper .services__items .services__enumeration__item .services__enumeration h3 {
  padding: 0 0 20px;
}

@media (max-width: 1100px) {
  .services__block .services__wrapper .services__items .services__txt-info {
    max-width: 450px;
  }
  .services__block .services__wrapper .services__items .services__txt-info h3 {
    font-size: 38px;
  }
  .services__block .services__wrapper .services__items .services__enumeration__item .services__enumeration {
    max-width: 230px;
  }
}
@media (max-width: 992px) {
  .services__block .services__wrapper .services__items .services__txt-info {
    padding-bottom: 50px;
    max-width: none;
    width: 100%;
  }
  .services__block .services__wrapper .services__items .services__txt-info h3 {
    font-size: 35px;
  }
  .services__block .services__wrapper .services__items .services__enumeration__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .services__block .services__wrapper .services__items .services__enumeration__item .services__enumeration {
    width: 50%;
    max-width: none;
  }
  .services__block .services__wrapper .services__items .services__enumeration__item .services__enumeration p {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .services__block .services__wrapper .services__items {
    text-align: center;
  }
  .services__block .services__wrapper .services__items .services__txt-info h3 {
    font-size: 35px;
  }
  .services__block .services__wrapper .services__items .services__txt-info .button__services {
    margin: 0 auto;
  }
  .services__block .services__wrapper .services__items .services__enumeration__item {
    width: 100%;
  }
  .services__block .services__wrapper .services__items .services__enumeration__item .services__enumeration {
    display: flex;
    flex-direction: column;
    max-width: 200px;
  }
  .services__block .services__wrapper .services__items .services__enumeration__item .services__enumeration img {
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .services__block .services__wrapper .services__items {
    text-align: center;
    width: 100%;
  }
  .services__block .services__wrapper .services__items .services__enumeration__item {
    flex-direction: column;
  }
  .services__block .services__wrapper .services__items .services__enumeration__item .services__enumeration {
    width: 100%;
    margin: auto;
  }
}
.gallery__block {
  padding: 0 0 130px;
}

.title-txt-line {
  text-align: center;
  padding-bottom: 76px;
}
.title-txt-line h3 {
  margin-bottom: 25px;
}
.title-txt-line p {
  max-width: 500px;
  margin: 0 auto 20px;
}
.gallery__tabs {
  margin: 0 auto;
  padding-bottom: 55px;
}
.gallery__tabs ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.gallery__tabs ul li {
  transition: 0.3s;
  cursor: pointer;
  padding: 0;
}
.gallery__tabs ul li a {
  color: #4c4c4c;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 25px;
  font-weight: 600;
}
.gallery__tabs ul li a:hover {
  color: red;
}

.gallery__images {
  margin-left: 0;
}

.gallery__item {
  width: 312.5px;
  height: 312.5px;
  padding: 0 10px 20px;
}
.gallery__item .gallery__item-img {
  background-color: #f5f0dd;
  width: 100%;
  height: 100%;
}

@media (max-width: 1250px) {
  .gallery__item {
    width: 275px;
    height: 275px;
  }
}
@media (max-width: 1100px) {
  .gallery__item {
    width: 248px;
    height: 248px;
  }
}
@media (max-width: 992px) {
  .gallery__item {
    width: 383.5px;
    height: 383.5px;
  }
}
@media (max-width: 767px) {
  .gallery__tabs ul li a {
    padding: 0 12px;
    font-weight: 900;
    font-size: 12px;
  }

  .gallery__images {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .gallery__tabs ul {
    flex-direction: column;
    text-align: center;
  }
  .gallery__tabs ul li {
    margin-bottom: 15px;
  }
  .gallery__tabs ul li a {
    padding: 0;
    font-weight: 900;
    font-size: 18px;
  }

  .gallery__images {
    flex-direction: column;
    width: 100%;
  }

  .gallery__item {
    width: 100%;
    height: 550px;
    margin: 0 auto;
  }
}
@media (max-width: 350px) {
  .gallery__item {
    height: 366.6666666667px;
  }
}
.our-team__block {
  padding-bottom: 110px;
}
.our-team__block .title-txt-line {
  justify-content: start;
  max-width: 445px;
  text-align: start;
}
.our-team__block .our-team__information {
  display: flex;
}
.our-team__block .our-team__information .main__photo {
  width: 25%;
  height: 460px;
  background-color: #f5f0dd;
  margin-right: 75px;
}
.our-team__block .our-team__information .information {
  width: 75%;
}
.our-team__block .our-team__information .information h3 {
  margin-bottom: 25px;
  font-size: 30px;
}
.our-team__block .our-team__information .information p {
  max-width: 650px;
}
.our-team__block .our-team__information .information ul {
  padding: 30px 0 45px;
  list-style: none;
  display: flex;
  justify-content: start;
}
.our-team__block .our-team__information .information ul li {
  cursor: pointer;
  padding: 0;
}
.our-team__block .our-team__information .information ul li a {
  color: #4c4c4c;
  text-decoration: none;
  padding: 0 25px 0 0;
  font-weight: 400;
}
.our-team__block .our-team__information .information .gallery__information {
  display: flex;
}
.our-team__block .our-team__information .information .gallery__information .gallery__info-item {
  margin-right: 20px;
  width: 200px;
  height: 212px;
  position: relative;
  background-color: #f5f0dd;
}
.our-team__block .our-team__information .information .gallery__information .gallery__info-item:last-child {
  margin-right: 0;
}
.our-team__block .our-team__information .information .gallery__information .gallery__info-item .name {
  display: none;
  position: absolute;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  text-align: center;
  color: white;
  height: 30px;
}
.our-team__block .our-team__information .information .gallery__information .gallery__info-item:hover .name {
  display: block;
}

@media (max-width: 1250px) {
  .our-team__block .our-team__information .main__photo {
    width: 30%;
  }
  .our-team__block .our-team__information .information {
    width: 70%;
  }
}
@media (max-width: 1100px) {
  .our-team__block .our-team__information .main__photo {
    width: 35%;
  }
  .our-team__block .our-team__information .information {
    width: 65%;
  }
  .our-team__block .our-team__information .information .gallery__information .gallery__info-item {
    margin-right: 10px;
  }
}
@media (max-width: 992px) {
  .our-team__block .title-txt-line {
    justify-content: center;
    max-width: 445px;
    text-align: center;
    margin: 0 auto;
  }
  .our-team__block .our-team__information {
    flex-direction: column;
  }
  .our-team__block .our-team__information .main__photo {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 30px;
  }
  .our-team__block .our-team__information .information {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .our-team__block .our-team__information {
    text-align: center;
  }
  .our-team__block .our-team__information .information {
    text-align: center;
  }
  .our-team__block .our-team__information .information ul li {
    margin: 0 auto;
  }
  .our-team__block .our-team__information .information .gallery__information {
    flex-wrap: wrap;
  }
  .our-team__block .our-team__information .information .gallery__information .gallery__info-item {
    margin: 0 5px 10px 5px;
    width: 48%;
  }
  .our-team__block .our-team__information .information .gallery__information .gallery__info-item:last-child {
    margin-right: 5px;
  }
}
@media (max-width: 500px) {
  .our-team__block .our-team__information .information .gallery__information {
    flex-direction: column;
    width: 100%;
  }
  .our-team__block .our-team__information .information .gallery__information .gallery__info-item {
    margin: 0 auto 10px;
    width: 200px;
  }
  .our-team__block .our-team__information .information .gallery__information .gallery__info-item:last-child {
    margin: 0 auto;
  }
}
.subscription__block {
  background-color: #f5f0dd;
  padding: 140px 0;
}
.subscription__block .subscription__items .title-txt {
  text-align: center;
}
.subscription__block .subscription__items .title-txt h3 {
  margin-bottom: 40px;
  color: white;
}
.subscription__block .subscription__items .title-txt p {
  color: white;
  margin: 0 auto 60px;
}
.subscription__block .subscription__items .subscription {
  display: flex;
  justify-content: center;
  align-content: center;
}
.subscription__block .subscription__items .subscription .button__subscription {
  background: red;
  transition: 0.3s;
  text-transform: uppercase;
}
.subscription__block .subscription__items .subscription .button__subscription:hover {
  background: #ea1b1b;
}
.subscription__block .subscription__items .subscription .button__subscription a {
  color: white;
  font-size: 16px;
}
.subscription__block .subscription__items .subscription input {
  padding: 20px 35px;
  width: 520px;
  margin-right: 22px;
  border: none;
  border-radius: 5px;
}
.subscription__block .subscription__items .subscription input:focus {
  border: none;
  background-color: #f0f2f2;
}

@media (max-width: 1250px) {
  .subscription__block .subscription__items .title-txt h3 {
    font-size: 35px;
  }
}
@media (max-width: 992px) {
  .subscription__block .subscription__items .title-txt h3 {
    font-size: 27px;
  }
}
@media (max-width: 767px) {
  .subscription__block .subscription {
    flex-direction: column;
  }
  .subscription__block .subscription .button__subscription {
    margin: 0 auto;
  }
  .subscription__block .subscription input {
    padding: 0;
    margin: 0 0 30px;
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .contact__form {
    width: 100%;
    flex-direction: column;
  }
  .contact__form-field {
    width: 100%;
  }
  .contact__form-field:first-child {
    padding-right: 0;
  }
  .contact__form-field:nth-child(2) {
    padding-left: 0;
  }
}
.contact__block {
  padding-top: 105px;
  padding-bottom: 110px;
}
.contact__block .title-txt-line {
  justify-content: start;
  max-width: 722px;
  text-align: start;
  padding: 0;
}
.contact__block .title-txt-line h3 {
  margin-bottom: 50px;
}
.contact__block .title-txt-line p {
  max-width: 720px;
  padding: 0;
  margin: 0 0 58px;
}
.contact__block .row {
  margin-top: 75px;
  position: relative;
}
.contact__block .row:after {
  content: "";
  position: absolute;
  background-color: #333;
  width: 100%;
  height: 100%;
  right: -100%;
  top: 0;
}
.contact__block .contact__form {
  width: 60%;
}
.contact__block .contact__form-field {
  width: 50%;
}
.contact__block .contact__form-field:first-child {
  padding-right: 27px;
}
.contact__block .contact__form-field:nth-child(2) {
  padding-left: 27px;
}
.contact__block .contact__form-field input {
  width: 100%;
  margin-bottom: 45px;
}
.contact__block .contact__form-massage {
  width: 100%;
}
.contact__block .contact__form-massage textarea {
  width: 100%;
  height: 250px;
  resize: none;
}
.contact__block .contact__form .button__form {
  margin-top: 45px;
  width: 100%;
}
.contact__block .contact__form .button__form button {
  padding: 20px 60px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  background: red;
  transition: 0.3s;
  text-transform: uppercase;
  width: 100%;
  color: white;
}
.contact__block .contact__form .button__form button:hover {
  background: #ea1b1b;
}
.contact__block .contact__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(40% - 100px);
  margin-left: 100px;
  background-color: #333;
}
.contact__block .contact__info h3 {
  color: white;
  margin: 0 0 40px 80px;
}
.contact__block .contact__info p {
  color: white;
  margin: 0 0 30px 80px;
}

@media (max-width: 992px) {
  .contact__block .row {
    flex-direction: column;
  }
  .contact__block .row:after {
    content: none;
  }
  .contact__block .contact__form {
    width: 100%;
  }
  .contact__block .contact__info {
    text-align: center;
    width: 100%;
    margin: 30px 0 0;
  }
  .contact__block .contact__info h3 {
    margin: 30px 0 25px;
  }
  .contact__block .contact__info p {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .contact__block .title-txt-line {
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .contact__block .row {
    flex-direction: column;
  }
  .contact__block .contact__form {
    width: 100%;
  }
  .contact__block .contact__form-field {
    width: 100%;
  }
  .contact__block .contact__form-field:first-child {
    padding-right: 0;
  }
  .contact__block .contact__form-field:nth-child(2) {
    padding-left: 0;
  }
}
footer .footer {
  background-color: #333;
  padding: 57px;
}
footer .footer .container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}
footer .footer p {
  color: #b8b8b8;
}
footer .footer .img {
  display: flex;
}
footer .footer .img img {
  margin-left: 18px;
}

@media (max-width: 767px) {
  footer .footer p {
    font-size: 13px;
  }
  footer .footer .img img {
    margin-left: 18px;
    max-width: 25px;
  }
}
@media (max-width: 590px) {
  footer .footer p {
    font-size: 11px;
  }
  footer .footer .img img {
    margin-left: 15px;
    max-width: 20px;
  }
}
@media (max-width: 500px) {
  footer .footer p {
    font-size: 8px;
  }
  footer .footer .img img {
    margin-left: 10px;
    max-width: 18px;
  }
}

/*# sourceMappingURL=index.css.map */
